bitarray==1.0.1
decorator==4.4.0
interlap==0.2.6
logging==0.4.9.6
networkx==2.2
numpy==1.22.0
pandas==0.24.2
pybedtools==0.8.0
pysam==0.15.3
python-dateutil==2.8.0
pytz==2019.3
scikit-learn==0.20.4
scipy==1.2.2
six==1.12.0
sklearn==0.0
